<app-navbar-second></app-navbar-second>
<app-side-nav-doctor></app-side-nav-doctor>

<section class="home-section">
    <h1 class="page-title">
        Your document
    </h1>
    <div class="global-div">

        <div class="second-div">
            <div class="info-patient">
                <img [src]="imageUrl">
                <div>
                    <span class="name">Dr.Meryem NAJEM </span>
                    <p class="date">28/11/2022</p>
                </div>
            </div>
            <div class="see-more">
                <span class="see">Consultation</span>
                <i class='bx bx-download'></i>
            </div>
        </div>

        <div class="second-div">
            <div class="info-patient">
                <img [src]="imageUrl">
                <div>
                    <span class="name">Dr.Meryem NAJEM </span>
                    <p class="date">28/11/2022</p>
                </div>
            </div>
            <div class="see-more">
                <span class="see">consultation</span>
                <i class='bx bx-download'></i>
            </div>
        </div>
        <div class="second-div">
            <div class="info-patient">
                <img [src]="imageUrl">
                <div>
                    <span class="name">Dr.Meryem NAJEM </span>
                    <p class="date">28/11/2022</p>
                </div>
            </div>
            <div class="see-more">
                <span class="see">consultation</span>
                <i class='bx bx-download'></i>
            </div>
        </div>
    </div>
    <div class="centered-div">
        <p class="p-find">
          Find a practitioner and book an appointment online anytime.
        </p>
        <button class="button-63" role="button">Book it now</button>
      </div>
      



</section>

<app-footer></app-footer>